/* Galleria Classic Theme 2012-08-07 | https://raw.github.com/aino/galleria/master/LICENSE | (c) Aino */

#galleria-loader
		{height: 1px!important}

.galleria-container
		{background: #FFF;
		overflow: hidden;
		position: relative;
		border: 1px solid #9CA8AB;}

.galleria-container img
		{max-width: 640px;
		-moz-user-select: none;
		-webkit-user-select: none;
		-o-user-select: none;}

.galleria-stage
		{top: 10px; 
		left: 10px;
		right: 10px;
		bottom: 60px;
		overflow: hidden;
		position: absolute;}

.galleria-thumbnails-container
		{height: 50px; 
		left: 10px;
		right: 10px;
		bottom: 0;
		position: absolute;
		z-index: 2;}

.galleria-carousel .galleria-thumbnails-list
		{margin-left: 30px;
		margin-right: 30px;}

.galleria-thumbnails .galleria-image
		{width: 60px;
		height: 40px;
		background: #000;
		margin: 0 5px 0 0;
		float: left;
		cursor: pointer;
		border: 1px solid #000;}

.galleria-counter
		{left: 10px;
		bottom: 10px;
		font: normal 11px/1 Arial, sans-serif;
		text-align: right;
		color: #FFF;
		position: absolute;
		z-index: 1;}

.galleria-loader
		{width: 20px;
		height: 20px;
		top: 10px;
		right: 10px;
		background: url(classic-loader.gif) no-repeat 2px 2px;
		background: #000;
		display: none;
		position: absolute;
		z-index: 2;}

.galleria-info
		{width: 50%;
		top: 15px;
		left: 15px;
		position: absolute;
		z-index: 2;}

.galleria-info-text
		{background-color: #000;
		padding: 12px;
		display: none;
		/* IE7 */ zoom: 1;}

.galleria-info-title
		{font: bold 12px/1.1 Arial, sans-serif;
		color: #FFF;
		margin: 0;
		margin-bottom: 7px;}

.galleria-info-description
		{font: italic 12px/1.4 Georgia, serif;
		color: #BBB;
		margin: 0;}

.galleria-info-close
		{width: 9px;
		height: 9px;	
		top: 5px;
		right: 5px;
		background-position: -753px -11px;
		opacity: .5;
		filter: alpha(opacity=50);
		cursor: pointer;
		display: none;
		position: absolute;}

.notouch .galleria-info-close:hover
		{opacity: 1;
		filter: alpha(opacity=100);}

.touch .galleria-info-close:active
		{opacity: 1;
		filter: alpha(opacity=100);}

.galleria-info-link
		{width: 20px;
		height: 20px;
		background-position: -669px -5px;
		background-color: #000;
		opacity: .7;
		filter: alpha(opacity=70);
		cursor: pointer;
		position: absolute;}

.notouch .galleria-info-link:hover
		{opacity: 1;
		filter: alpha(opacity=100);}

.touch .galleria-info-link:active
		{opacity: 1;
		filter: alpha(opacity=100);}

.galleria-image-nav
		{width: 100%;
		height: 62px;
		top: 50%;
		left: 0;
		margin-top: -62px;
		position: absolute;}

.galleria-image-nav-left,
.galleria-image-nav-right
		{width: 62px;
		height: 124px;
		left: 10px;
		background-position: 0 46px;
		opacity: .3;
		filter: alpha(opacity=30);
		cursor: pointer;
		position: absolute;
		z-index: 2;}

.galleria-image-nav-right
		{left: auto;
		right: 10px;
		background-position: -254px 46px;
		z-index: 2;}

.notouch .galleria-image-nav-left:hover,
.notouch .galleria-image-nav-right:hover
		{opacity: 1;
		filter: alpha(opacity=100);}

.touch .galleria-image-nav-left:active,
.touch .galleria-image-nav-right:active
		{opacity: 1;
		filter: alpha(opacity=100);}

.galleria-thumb-nav-left,
.galleria-thumb-nav-right
		{width: 23px;
		height: 40px;
		top: 0;
		left: 0;
		background-position: -495px 5px;
		opacity: .8;
		filter: alpha(opacity=80);
		cursor: pointer;
		display: none;
		position: absolute;	
		z-index: 3;}

.galleria-thumb-nav-right
		{left: auto;
		right: 0;
		background-position: -578px 5px;
		border-right: none;}

.galleria-thumbnails-container .disabled
		{opacity: .2;
		filter: alpha(opacity=20);
		cursor: default;}

.notouch .galleria-thumb-nav-left:hover,
.notouch .galleria-thumb-nav-right:hover
		{opacity: 1;
		filter: alpha(opacity=100);
		background-color: #111;}

.touch .galleria-thumb-nav-left:active,
.touch .galleria-thumb-nav-right:active
		{opacity: 1;
		filter: alpha(opacity=100);
		background-color: #111;}

.notouch .galleria-thumbnails-container .disabled:hover
		{opacity: .2;
		filter: alpha(opacity=20);
		background-color: transparent;}

.galleria-carousel .galleria-thumb-nav-left,
.galleria-carousel .galleria-thumb-nav-right
		{display: block;}

.galleria-thumb-nav-left,
.galleria-thumb-nav-right,
.galleria-info-link,
.galleria-info-close,
.galleria-image-nav-left,
.galleria-image-nav-right
		{background-image: url(classic-map.png);
		background-repeat: no-repeat;}
